/* 
The styles used in OpenXava are the specified ones in JSR-168 and WSRP.
The styles in this file are only for the aspects not included in 
JSR-168 and WSRP and needed by OpenXava.
*/

#xava_loading { 
	padding: 20px;	
	border: none; 
	background: #d3d3d3;
	opacity:.60;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;	  
	color: white;
	text-shadow:0px -1px 1px rgba(0,0,0,0.75); 
	font-weight: bold; 
	-webkit-box-shadow: 10px 10px 10px rgba(140,140,140,0.75);
	-moz-box-shadow: 10px 10px 10px rgba(140,140,140,0.75);
	box-shadow: 10px 10px 10px rgba(140,140,140,0.75);
	display:none; 
	z-index: 9999999; 
	position: fixed; 
	top: 25%; 
	left: 45%	
}

.ie6 #xava_loading { 
	position: absolute;	
}

.xava_handle {
	cursor: move;
}

.liferay4-selected-row td {
	background: #BFC2E4;
}

.selected-row td {
	background: #ffc !important;
}

TABLE.list {	
	background: white;
}

TH.list {
	background: #FFCC00;
	font-weight: normal; 
}

.list-odd {
	font-weight: normal; 
	background: #eeeeee;
}

.list-pair {
	font-weight: normal;
	background: #cccccc; 
}

.list-odd-selected {
	font-weight: bold;
	color: #3366ff;
	background: #eeeeee;
}

.list-pair-selected {
	font-weight: bold;
	color: #3366ff;
	background: #cccccc;
}

.websphere-list-selected {
	font-weight: bold;
}

.liferay-list-selected {
	font-weight: bold;
}

.row-highlight A.row-highlight {
	font-weight: bold;
	color: #3366ff;
}

.current-row  {	
	font-weight: bold;
	outline-color: blue;
	outline-style: solid;
	outline-width: thin;
}

TR.list-subheader {
	font-weight: normal;
	background: #dddddd;	 
}

.list-info {
	font-weight: bold;
}

.list-info-detail {
	height: 30px;
}

TABLE.frame {
	border-collapse: collapse;
	border-color: #dddddd;
	border-style: solid;
	border-width: 1px;
}

TR.frame {
	background: #dddddd;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

TD.frame {
	padding: 5 5 5 5;
}

.small-label {
	font-size: 8pt;
}

.errors {
	color: #ff0000; 
	font-weight: bold;
	font-size: 10pt;
}

.messages {
	color: #3366ff;
	font-weight: bold;
	font-size: 10pt;
}

#xava_processing_layer {
	position:absolute;
	right: calc(50% - 120px);
	top: 50%;	
	font-weight: normal; 
	background: #eeeeee;
	z-index: 999999999;
	line-height:1.4;
	padding:25px 80px;
	border:2px solid #000;
}

.jetspeed2-list-info, TR.jetspeed2-list-info, TD.jetspeed2-list-info {
	font-size: x-small;
}

.jetspeed2-list-order-by A:link {
	color: white;	
	text-decoration: underline;
}

.websphere-list-title {
	font-weight: bold;	
}


TD.mode {
	font-weight: bold;	
}

TD.list-title {
	font-weight: bold;
	text-align: left;
}

.PTitleContent {
	color: black;
}

.section {
	border-collapse: collapse;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.activeSection {
	border-top-color: #FFCC00;
	border-left-color: #dddddd;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;

	border-style: solid;

	border-top-width: 2px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
}

.TabMidle .TabMiddleLow {
	background-color: #FFCC00;
}

.websphere-frame-title-label {
    font-weight: normal;    
}

.liferay-xava-frame-core {
	border: 1px solid #CCCCCC;
	border-top: 0px;
	padding: 2px;
}

.results-header .liferay-xava-cell-wrapper a {
	display: inline;
}

.liferay-xava-cell-wrapper {
	border: 1px solid #CCCCCC;
}

.liferay-xava-editor-wrapper {
	padding-right: 4px;
	padding-bottom: 4px;
}
	
.liferay-xava-label {
	padding-right: 4px;
}

.liferay6-xava-label {
	font-weight:bold;
}

.editor, .portlet-form-input-field {
	color: #000000;	   	
}

.wpsTableHead {
	border-left-width: 1px;
	border-left-style: solid;
}

.wpsPagingTableHeaderMiddle {
	padding: 5px;
}

.wpsPagingTableHeaderMiddle .ui-resizable-e {
	background-image: url("liferay51/images/application/handle_vertical.png");
	background-position: center;
	background-repeat: no-repeat; 	
	bottom: 0;
	top: 0;
	width: 14px;
}

.wpthemeSecondaryBanner {
	border-top: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.bold-label {
	font-weight:bold;
}

.italic-label {
	font-style:italic; 
}

.reverse-label {
	color: white;
	background-color: black;
}

.page-navigation-selected {	
	font-weight: bold;
	border-style: solid; 
	border-color: buttonshadow; 
	border-width: 1px;  
	padding: 4px 4px 4px 6px; 	
}

.ie7 .page-navigation-selected {
	padding: 2px 4px 2px 4px; 
	vertical-align: 3px; 	
}

.page-navigation {
	border-style: solid; 
	border-color: buttonshadow; 
	border-width: 1px;  
	padding: 2px 4px 2px 4px; 
	background-color: #DCDCDC;	
	text-decoration: none; 
	font-weight: normal
}

.ie7 .page-navigation {
	vertical-align: 3px; 
}

.ie7 .rows-per-page {
	vertical-align: 3px;
}

.page-navigation-arrow {		
	background-color: white;
}

.ie7 .page-navigation-arrow {	
	padding: 1px 4px 2px 4px; 
}

.page-navigation:hover {
	border-color: highlight;
	background-color: white;
}

.page-navigation-arrow-disable:hover { 
	border-color: buttonshadow;	
}

.ox-button-bar {
	background: #F6F8FB;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 2px;
}

.ie6 .ox-button-bar {
	width: 100%;
}

.ox-button-bar .ox-button-bar-button a, .ox-button-bar-mode-button {
	background: url() no-repeat 5px 50%; 	
	border: 1px solid #F6F8FB;
	color: #9EA8AD;
	display: block;
	float: left; 	 
	font-size: 12px;
	font-weight: bold;	
	padding: 4px 4px 4px 0px;  
	text-decoration: none;	
}

.ox-button-bar .ox-button-bar-button a:hover, .ox-button-bar-mode-button:hover {
	border: 1px solid #A7CEDF;	
	background-color: #DFF4FF;
	color: #346799; 
	padding: 4px 4px 4px 0px;
	text-decoration: none;   
}

.ox-button-bar-mode-button:focus {
	text-decoration: none; 
}

.ox-button-bar-mode-button, .ox-button-bar-mode-button:hover { 
	padding-right: 0px;
}

.green .ox-button-bar .ox-button-bar-button a:hover, .green .ox-button-bar-mode-button:hover {	
	background-color: #D9F4CB;
	border-color: #BBEAA4
}

.orange .ox-button-bar .ox-button-bar-button a:hover, .orange .ox-button-bar-mode-button:hover {
	background-color: #F4EACB;
	border-color: #EAD8A4;			
}

.ox-active .ox-button-bar-mode-button {
	background-color: #CFD5D7; 
	border: 1px solid #CFD5D7;
	color: #000;
}

.ox-active .ox-button-bar-mode-button:hover {
	background-color: #d6dcdd;
	border-color: #B7C0C2;
}

.ox-button-bar a:focus {
	outline: none;
}

.ox-action-link {
	margin-left: 7px;
}

.ox-help img {
	border: 0;
	padding-top: 5px;
	padding-left: 5px;	
}

.ox-filter-cell {
	text-align: center;
}

.ox-label { 
	text-align: left; 
}

.ox-frame-totals {
	float: right; 
}

.ox-frame-sibling {     
	padding-left: 4px;
}


.ox-frame-totals-label {
	font-weight: normal;
}

.ox-frame-totals-value {
	font-weight: bold;
}

.ui-dialog { 
	width: auto; 
}
		
/* ---------- Styling for Default Layout Painter ---------- */
.ox-layout-label-cell {
	text-align:left;
}

.ox-layout-data-cell {
	
}

.ox-layout-row-spacer {
	height: 4px;
}

/* ---------- Styling for Subcontrollers ---------- */

div.ox-subcontroller {
	padding: 0;
	margin: 0;
	position: absolute; 
	clear: both; 
	background-color: rgb(246, 248, 251); 
	display: none; 
	z-index: 999;
	box-shadow: 0px 3px 3px #DDDDDD;
}

div.ox-subcontroller table{
	padding: 0;
	margin: 0;
	width: 100%;
	border: 1px solid #CCCCCC;
}

div.ox-subcontroller table tr td{
	float: right;
	width: 97%;	/* con 100% se expande mucho */
	text-align: left;
	background-color: rgb(246, 248, 251);
	z-index: 999; 
	padding: 4px 4px 4px 4px;
}

div.ox-subcontroller table tr td a{
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important; 
}

span.ox-subcontroller-select a{
	border: 1px solid #A7CEDF !important;
}